/* Import de la font Google Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');


div#div_horloge {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-shadow: 0.1em 0.1em 0.2em black;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-align: right;
  margin-right: 3%;
}

div#div_date {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 0.1em 0.1em 0.2em black;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: right;
  margin-right: 3%;
}

div#texte {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-shadow: 0.1em 0.1em 0.2em black;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: right;
  margin-right: 3%;
}

.WeatherIcon {
  margin-right: 2%;
  text-align: right;
}

.CurrentTemp {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 0.1em 0.1em 0.2em black;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: right;
  margin-right: 3%;
}

